<mat-toolbar color="accent">
    <span > <b>  SAMPLE  <span class="material-icons"> volunteer_activism

                           </span>  MATRIMONY </b>
    </span>
        <div class="spacer"></div>
        <!-- ipdi div tag pota dhaan textright la cnange aagudhu -->
        <a mat-button routerLink="/aboutus" routerLinkActivate="active"> About us <span class="material-icons">
          support_agent
          </span> </a>
              
          <a  mat-button routerLink="/login" routerLinkActivate="active">Log-in  <span class="material-icons">
            login
          </span></a>
             <a mat-button routerLink="/prrofile" routerLinkActivate="active"> Upload <span class="material-icons">
              file_upload
              </span> </a> 
             <a mat-button routerLink="/matpro" routerLinkActivate="active"> Profile <span class="material-icons">
              wc
              </span> </a>
             <a mat-button routerLink="/search" routerLinkActivate="active"> Search <span class="material-icons">
              search
              </span> </a>
                <a  mat-button routerLink="/exit" routerLinkActivate="active">Log-out  <span class="material-icons">
                  logout
                  </span></a>

                  
                    
                    
    
</mat-toolbar>
<router-outlet></router-outlet>

