.load{
    text-align:right;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
  }
  
  td, th {
    text-align: left;
    padding: 4px;
  }

  .tab{
      text-decoration-color: #aaa;
  }

  